.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border: 2px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {

    height: auto;
    display: block;
}


.card:hover {
    transform: scale(1.05);
}